<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>
      <img src="https://cdn-icons-png.freepik.com/256/10069/10069093.png?ga=GA1.1.220281481.1727174900&semt=ais_hybrid" alt="Cash Payment Icon" class="payment-icon">
      Mark Cash as Payment
    </h1>
    
    <table class="payment-table">
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>Bill ID</th>
          <th>Customer ID</th>
          <th>Amount</th>
          <th>Payment Method</th>
          <th>Action</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.txnId }}</td>
          <td>{{ transaction.billId }}</td>
          <td>{{ transaction.customerId }}</td>
          <td>{{ transaction.amount | currency }}</td>
          <td>{{ transaction.paymentMethod }}</td>
          <td>
            <button *ngIf="transaction.transactionStatus !== 'PAID'" (click)="markAsPaid(transaction.txnId)" class="mark-btn" [disabled]="transaction.isPaid">Mark as Paid</button>
          </td>
          <td><span *ngIf="transaction.transactionStatus === 'PAID'" class="status-indicator">Paid</span></td>
        </tr>
      </tbody>
    </table>

    <div class="pagination">
        <button (click)="goToPage(1)" [disabled]="currentPage === 1"><<</button>
        
        <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
          <button 
            (click)="goToPage(i + 1)" 
            [ngClass]="{'active-page': (i + 1) === currentPage}">
            {{ i + 1 }}
          </button>
        </ng-container>
    
        <button (click)="goToPage(totalPages)" [disabled]="currentPage === totalPages">>></button>
    </div>
</div>

          
      
</body>
</html>