<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <div class="welcome-message">Your trusted Utility Billing Application.</div>
        
        <div class="header-content">
            <img class="header-image" src="https://img.freepik.com/free-vector/hand-drawn-electrician-cartoon-illustration_23-2151046712.jpg?t=st=1728109955~exp=1728113555~hmac=53fa831833009ddbf7f35e3b36793a79acc8120486e952f4724dddfa2a0897ca&w=740" alt="Electrician">
            <div class="header-description">
                <!-- <h2>About Us</h2> -->
                 <img src="https://api.logo.com/api/v2/images?logo=logo_4f53d19a-e484-4248-ac72-4c021be9861c&format=webp&width=2000&background=transparent&fit=contain&quality=100&u=2024-10-04T10%3A27%3A54.836Z" height="23" alt="">
                <p>We provide comprehensive utility billing solutions that streamline customer management, invoice generation, and payment tracking.</p>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <img src="https://img.freepik.com/free-vector/organic-flat-customer-support-illustration_23-2148899174.jpg?t=st=1728110823~exp=1728114423~hmac=45236692ae97f30e01d4cee6dd32e1ca8d43d7dede84c5b5610c21248417ef0d&w=996" alt="Customer Support">
                <h2>Customer</h2>
                <p>Manage customer information efficiently.</p>
            </div>
            <div class="card">
                <img src="https://img.freepik.com/free-photo/3d-hand-with-safe-payment-confirmation-bill_107791-16702.jpg?t=st=1728110632~exp=1728114232~hmac=2b269c28c942beb704890577c3a7f14e8c8475532601c726163b8b3d51f875a4&w=900" alt="Invoice">
                <h2>Invoice</h2>
                <p>Generate and manage invoices easily.</p>
            </div>
            <div class="card">
                <img src="https://img.freepik.com/free-vector/account-concept-illustration_114360-279.jpg?t=st=1728110953~exp=1728114553~hmac=808cdee2fb71389802ff81352301c4c84e383ae28a99eca577c44dd56834669f&w=540" alt="Payment">
                <h2 class="h23">Payment</h2>
                <p class="h23">Monitor payment transactions effectively.</p>
            </div>
        </div>

    </div>
</body>
</html>
