* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 100px auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left img {
    max-width: 400px;
    border-radius: 10px;
}

.right {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
    font-weight: 600;
    color: #a444d4;
}

.inline-fields {
    display: flex;
    justify-content: space-between;
}

.input-container {
    flex: 1;
    margin-right: 10px;
}

.input-container:last-child {
    margin-right: 0;
}

input[type="text"], input[type="email"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

textarea {
    resize: none;
}

.btn-signup {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-decoration: none;
}

.btn-signup:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
}

.success-message {
    color: green;
    font-size: 20px;
    margin-top: 20px;
}

.error-message {
    color: red;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer {
    margin-top: 20px;
    background-color: white;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        padding: 20px; 
        margin: 50px auto; 
    }

    .left {
        display: flex;
        justify-content: center; 
        margin-bottom: 20px; 
    }

    .left img {
        max-width: 100%; 
        height: auto; 
    }

    .right {
        margin-left: 0; 
    }

    h1 {
        font-size: 1.5em; 
    }

    .inline-fields {
        flex-direction: column; 
    }

    .input-container {
        margin-right: 0; 
        margin-bottom: 10px; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em; 
    }

    input[type="text"], input[type="email"], input[type="number"], textarea {
        font-size: 14px; 
    }

    .btn-signup {
        font-size: 14px; 
    }
}
