<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>
          <img src="https://cdn-icons-png.freepik.com/256/15546/15546693.png?ga=GA1.1.220281481.1727174900&semt=ais_hybrid" alt="Transaction Icon" class="transaction-icon">
          Transaction History
        </h1>
        
        <table class="transaction-table">
          <thead>
            <tr>
              <th>Transaction ID</th>
              <th>Bill ID</th>
              <th>Due Date</th>
              <th>Amount</th>
              <th>Payment Method</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of paginatedTransactions">
              <td>{{ transaction.txnId }}</td>
              <td>{{ transaction.bill.billId }}</td>
              <td>{{ transaction.bill.dueDate| date }}</td>
              <td>{{ transaction.bill.amount }}</td>
              <td>{{ transaction.paymentMethod }}</td>
            </tr>
          </tbody>
        </table>
        
        <div class="pagination">
          <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"><<</button>
          <span class="page-numbers">
            <button>
              {{ currentPage }}
            </button>
          </span>
          <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">>></button>
        </div>
      </div>
      
</body>
</html>